/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height:100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{ 
	font-size: 16px;
	margin: 0;
	padding: 0;
    height:100%;
    padding: 50px 0px 0px 0px;
    
}
#header
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background: #248DC1;
    padding: 0;
    color: #eee;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    height: 50px;
}
#header h1{
    font-size: 20px;
    margin:0;padding: 0;
    text-align: left;
    padding-left: 50px;
}
#header .btn {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 35px;
    height: 35px;
    line-height: 36px;
    background-color: #58B1FC;
    border-radius: 100px;
}
#header .mButton, #header #refresh {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 35px;
    height: 35px;
    line-height: 36px;
    background-color: #58B1FC;
    border-radius: 100px;
}
#header #location {
    right: 50px;
}
#header #bulls {
    right: 94px;
}
#header a, #header .btn{
    cursor: pointer;
}
#header a:active, #header .btn:active
{
    opacity: 0.5;
}
.screen{
    position:absolute;
    width:100%;
    background:#f0f0f0;
    display: none;
}
body .screen.active{
    display: block;
}
#header .firstBtn {
    display: none;
}
#header .firstBtn.active{
    display: block;
}
#post_screen{
    text-align: center;
}
#outerpost{
    max-width: 100%;
    margin:10px;
    padding: 10px;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
    color: #444;
}
#outerpost a{
    color:#248DC1;
}
#outerpost img{
    max-width: 100%;
}
#outerpost>div{
    margin: auto;
}
.postheader{
    padding: 8px 0px;
    text-align: left;
}
.postcaption{
    font-size:0.8em;text-align:justify;
    border-top: 1px solid #ccc;
    padding:8px 0 0 0;
}
#outerpost>div>div{
    display: inline-block;
    float: right;
    font-size: 0.7em;
    line-height: 20px;
}
